:root{
	--primary-color: #221e40;
	--text-color: #322b2a;
	--border-color: #9c9aa0;
	--hover-btn: #5b5b5f;
}

*{
	box-sizing: border-box;
}

html{
	font-size: 12px;
	font-family: 'Lato', sans-serif;
}

a:hover, a:active, a:visited{
	color: inherit;
	text-decoration: none;
}

input, button{
	border: 0;
	outline: 0;
}

.post-slider{
	padding-bottom: 50px;
}

.slick-dots li button:before{
	content: '';
	height: 10px;
	width: 25px;
	background-color: black;
}

.slick-prev{
	left: 10px;
}

.slick-next{
	right: 10px;
}

.slick-prev:before{
	content: '<';
}


.slick-next:before{
	content: '>';
}

.slick-dots li{
	height: 10px;
	width: 25px;	
}

.slick-dots li button{
	height: 10px;
	width: 25px;
}

.slick-prev:before, .slick-next:before{
	color: #000;
	border: 2px solid var(--border-color);
	height: 40px;
    width: 40px;
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-prev, .slick-next{
	top: auto;
	bottom: -60px;
	width: 40px;
	height: 40px;
}

.title-h2{
	font-size: 2.5rem;
	color: var(--text-color);
	text-align: center;
	margin: 1rem auto;
}

.btn-site{
	cursor: pointer;
	display: block;
	max-width: 100%;
}

#site-header{
	background-image: linear-gradient(90deg, #333333, #383838);
	padding: 7px;
	color: #fff;
}

.logo-site{
	margin-right: 10px;
}

.search-box{
	margin-left: auto;
}

.search-box input{
	background-color: #1f1f1f;
	padding: 10px;
	color: #fff;
	font-size: .75rem
}

.search-box ::-webkit-input-placeholder {
  color: #fff;
}

.search-box :-ms-input-placeholder {
  color: #fff;
}

.search-box ::placeholder {
  color: #fff;
}

.menu-wrapper{
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.menu-site-link{
	color: #fff;
	font-size: 1.125rem;
	transition: all .3s;
	padding: 5px 15px;
}

.menu-site-link:hover{
	color: #999999;
}


#banner-site{
	max-width: 100%;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 15px;
}

.banner-slogan{
	max-width: 100%;
	margin: 15px;
	display: block;
}

.post-item{
	border: 1px solid var(--border-color);
	position: relative;
	background-color: #fff;
}

.post-item:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 10px;
	left: 10px;
	background: #f7f7f7;
	z-index: -1;
}

.post-item-cat{
	font-size: 1rem;
	color: #fff;
	background-color: var(--primary-color);
	position: absolute;
	padding: 5px 10px;
	top: 10px;
	left: 10px;
}

.post-slider-wrapper{
	margin: 0 10px;
	padding-bottom: 15px;
}

.post-item-desc{
	padding: 1.75rem;
}

.post-item-title{
	font-size: 1.75rem;
	color: var(--text-color);
	margin-bottom: 1.5rem;
}

.post-item-img{
	display: block;
	max-width: 100%;
}

.post-item-link{
	font-size: 1.5rem;
	display: block;
	margin: 1rem auto;
	transition: all .3s;
	color: var(--text-color);
	border: 1px solid var(--border-color);
	padding: 10px;
	text-align: center;
}

.post-item-link:hover{
	color: #fff;
	background-color: var(--hover-btn);

}

.contato-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contato-form-wrapper{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wpcf7-form-control-wrap{
	width: 100%;
}

.contato-input{
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: .75rem 1rem;
	border: 1px solid var(--border-color);
}

.contato-btn{
	width: 100%;
	max-width: 320px;
	margin: 15px auto;
	display: block;
	padding: 1.5rem;
	font-size: 1.5rem;
	color: #fff;
	background-color: var(--hover-btn);
}

.wpcf7-response-output{
	width: 100%;
	margin: 10px auto;
	text-align: center;
	font-size: .75rem;
	border: 0px !important;
}

.wpcf7-not-valid-tip{
	display: none !important;
}

.wpcf7-not-valid{
	border: 1px solid red !important;
}

.info-item-title{
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	padding-bottom: 25px;
	position: relative;
}

.info-item-title:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #d9d9d9;
}

.info-item-title:after{
	content: '';
	position: absolute;
	width: 40px;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #434040;
}


.info-item-desc{
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-item-icon{
	width: 40px;
	margin-right: 15px;
}

#site-footer{
	margin-top: 20px;
}

.footer-info{
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer-extra-info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	border-top: 1px solid var(--border-color);
	padding: 15px;
}

.copyright, .footer-links{
	width: 100%;
	font-weight: 700;
}

.footer-links{
	text-align: right;
}

.footer-links a{
	font-size: 1.125rem;
	color: var(--text-color);
}

@media(min-width: 991px){
	html{
		font-size: 16px;
	}
}

@media(min-width: 768px){



	.slick-prev{
		left: 30%;
	}

	.slick-next{
		right: 30%;
	}

	#site-header{
		padding: 15px;	
	}

	#banner-site{
		height: 90vh;
		padding: 15px;
	}

	.contato-form-wrapper{
		width: calc(50% - 15px);
	}

	.title-h2{
		margin: 2rem auto;
	}

	.endereco, .cidade{
		width: calc((100% / 3) * 2 - 8px);
	}

	.estado, .numero{
		width: calc(100% / 3 - 8px);
	}

	#site-footer{
		margin-top: 50px;
	}

	.footer-extra-info{
		margin-top: 40px;
		padding: 15px 25px;
	}

	.copyright, .footer-links{
		width: 50%;
	}

	.info-item-desc p{
		width: calc( 100% - 60px);
		margin-bottom: 0;
	}
}

@media(max-width: 767px){

	#header-site{
	}

	.menu-wrapper{
		position: relative;
	}

	.menu-site{
		height: 0;
		position: absolute;
		top: -100%;
		transition: all .3s;
		flex-direction: column;
		background-color: var(--text-color);
		z-index: -1;
	}

	.menu-site.ativo{
		height: auto;
		top: 50px;
		z-index: 1;
	}	

	.menu-site-link{
		display: block;
		font-size: 24px;
	}

	.post-item{
		max-width: 390px;
		margin: 0 auto 25px;
	}

	.footer-info-item{
		text-align: center;
		margin-bottom: 40px;
	}

	.info-item-desc{
		justify-content: center;
	}


	.copyright, .footer-links{
		margin-bottom: 15px;
		width: 100%;
		text-align: center;
	}
}


